.btn {
  background-color: #F0AB00;
  border-color: transparent;
  letter-spacing: 1px;
  font-weight: normal;
  color: #fff;
}

.stdbtn {
    padding: 10px 19px 11px;
    border-radius: 39px;
    font: 400 1.6666666666666667rem '72';
}

.custombtn {
    padding: 10px 20px;
    border-radius: 39px;
    font: 400 1.6666666666666667rem '72';
    display:flex;
    flex-direction:row;
    margin-left: auto;
}

.custombtn img {
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 3px;
    display: inline-block;
    vertical-align: middle;   
}

.iconbtn {
  padding: 12px 15px;
  margin: 10px 10px;
  border-radius: 50px;
  font-size: 20px;
  width: calc(20% + 10px);
  height: calc(80% + 10px);
}

.iconbtn .MuiSvgIcon-fontSizeLarge {
  font-size: 3.2rem;
  font-weight: 100;
}

.iconbtn-show {
  padding: 12px 15px;
  border-top-right-radius: 20px;
}

.iconbtn-show .MuiSvgIcon-fontSizeLarge {
  font-size: 3.2rem;
  font-weight: 100;
}
