.roadmap-carousel-button {
    position: absolute;
    top: 40%;
    vertical-align: middle;
    transform: translateY(-50%);
    border-style: none;
    background-color: transparent;
}

.roadmap-carousel-back-button {
    z-index: 1;
    left: 0;
}

.roadmap-carousel-next-button {
    z-index: 1;
    right: 0;
}

.roadmap-carousel-content-container img {
    visibility: hidden;
}

.roadmap-carousel-content-container:hover img {
    visibility: visible;
}

.roadmap-carousel-button:disabled {
    filter: grayscale(100%);
}

.roadmap-carousel-content-container {
    position: relative;
    margin: auto;
    width: calc(108% - 30px);
    top: -20px;
    left: -50px;
}

@media screen and (max-width: 767px) {
    .roadmap-carousel-content-container {
        top: 0;
        left: 0;
    }
}

.roadmap-carousel-content-container .slideInner___2mfX9 {
    height: 300px;
}

.roadmap-slide-dimensions {
    padding-bottom: 4rem;
    height: 300px;
    /* max-width: 900px; */
    /*min-width: 975px;*/
    width: 100%;
  }
  
  .roadmap-slide-dimensions-small {
    height: 300px;
    width: 768px;
  }

  .roadmap-carousel-next-button:enabled ~ .roadmap-carousel-fade-next {
    position: absolute;
    right: -17px;
    top: 56px;
    width: 280px;
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 2.08%, #FFFFFF 50.88%);
    transform: rotate(-90deg);
  }

  .roadmap-carousel-back-button:enabled ~ .roadmap-carousel-fade-back {
    position: absolute;
    left: -50px;
    top: 56px;
    width: 280px;
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 2.08%, #FFFFFF 50.88%);
    transform: rotate(90deg);
  }

  .roadmap-carousel-content-container .carousel__slider-tray--horizontal{
      /* Setting max width makes carousel non-responsive */
  }