.chip {
  margin-right: 20px;
  margin-bottom: 20px;
}

/*

.chip.MuiChip-outlined {
  border: 1px solid #0A6ED1;
  background-color: transparent;
}
*/

.TagTitle {
    font-size: 1.3333333333333333rem;
    font-weight: 500;
    display: inline-flex;
    vertical-align: middle;
    margin-right: 15px;
}

.chip.MuiChip-root {
  font-size: 1.3333333333333333rem;
  font-weight: 400;
  color: #0A6ED1;
  border-radius: 47px;
  height: 18px;
}


.MuiChip-root .MuiChip-label {
    padding-left: 0;
    padding-right: 0;
}

.chip.MuiChip-clickable.MuiChip-outlined:hover,
.chip.MuiChip-clickable.MuiChip-outlined:focus {
  background-color: #0A6ED1;
  color: #fff;
}

.chip .MuiChip-label {
  padding-left: 20px;
  padding-right: 20px;
}
.pr-filter-tag-container > 
.MuiChip-clickable.MuiChip-outlined:hover,
.chip.MuiChip-clickable.MuiChip-outlined:focus {
  background-color: rgb(255, 255, 255) !important;
  color: #0A6ED1 !important;
}
.MuiChip-deleteIcon {
  width: 12px !important;
  height: 12px !important;
  padding-right: 11px !important;
}

.clear-all-filters {
  border: 0px !important;
}

.clear-all-filters:hover,
.clear-all-filters:focus {
  background-color: #FFF !important;
  color: #0A6ED1 !important;
}

.release-chip.MuiChip-root {
/*    border-radius: 10px;*/
    font-size: 1.3333333333333333rem;
    font-family: "72",Arial,Helvetica,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
/*
    height: 34px;
    transition: none;
*/
    padding: 0;
    margin-right: 15px;
    background-color: #FFFFFF; 
    color: #0A6ED1;
}

.page-container-small .release-chip.MuiChip-root {
  font-size: 16px;
  margin-top: 2px;
}

.release-chip-small {
  margin-bottom: 8px;
}
/*

.release-chip.integration.MuiChip-root {
  background-color: rgba(0, 182, 240, 0.12);
  color: #00B6F0;
}

.release-chip.integration.MuiChip-clickable:hover,
.release-chip.integration.MuiChip-clickable:focus {
  background-color: rgba(0, 182, 240, 0.12);
}
*/
/*

Line-style chip
.release-chip.integration.MuiChip-root {
  border: 1px solid rgba(0, 182, 240);
  background-color: #FFF;
  color: #00B6F0;
}

.release-chip.integration.MuiChip-clickable:hover,
.release-chip.integration.MuiChip-clickable:focus {
  cursor: default;
}



.release-chip.product.MuiChip-root, .release-chip.subproduct.MuiChip-root {
  background-color: rgba(61, 130, 240, 0.12);
  color: #0A6ED1;
}
*/

/*
.release-chip.product.MuiChip-clickable:hover,
.release-chip.product.MuiChip-clickable:focus,
.release-chip.subproduct.MuiChip-clickable:hover,
.release-chip.subproduct.MuiChip-clickable:focus {
   background-color: rgba(61, 130, 240, 0.12);
    color: #f0ab00;
}


.release-chip.process.MuiChip-root {
  background-color: rgba(240, 171, 0, 0.12);
  color: #F0AB00;
}

.release-chip.process.MuiChip-clickable:hover,
.release-chip.process.MuiChip-clickable:focus {
  background-color: rgba(240, 171, 0, 0.12);
}
*/
