.content-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0px auto;
  width: 100%;
  margin-top: 0px;

}
@media (max-width : 1199px) {
  .content-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width : 996px) {
  .content-container {
    padding-left: 28px;
    padding-right: 10px;
  }
}

.content-container-small {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
}

.content-horizontal {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.right-side-bg {
    position: absolute;
    right: 0;
    top: 800px;
    z-index: -1;
    background-image: url(../assets/images/@1x-bg-path2.png);
    width: 740px;
    height: 1027px;
}

.left-side-bg {
  position: absolute;
  left: 0;
  top: 1336px;
  z-index: -1;
  background-image: url(../assets/images/@1x-bg-path1.png);
  /*width: 362px;*/
  height: 630px;
}

.search-page-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  margin-top: 156px;
}

.content-container-small .search-page-container {
  width: 100%;
  margin: 0;
  margin-top: 156px;
}
