.feedback-container {
  position: fixed;
  z-index: 500;
  top: 40%;
  width: 545px;
  height: 274px;
  background: linear-gradient(60.66deg, #0A6ED1 0%, #77E8FB 115.03%);
  border-radius: 20px;
  cursor: pointer;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.page-container-small .feedback-container {
  width: 375px;
  height: 140px;
  display: flex;
  top: 70%;
}

.container-collapsed {
    right: -485px;
}

.page-container-small .container-collapsed {
  right: -335px;
}

.collapsed-title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transform: rotate(-90deg);
  margin-top: 115px;
  margin-left: -65px;
  width: 195px;
}

.page-container-small .collapsed-title {
  margin-top: 0px;
  font-size: 14px;
  margin-left: 33px;
  width: 106px;
}

.container-expanded {
  right: -10px;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 43px;
  margin-left: 49px;
}


.page-container-small .feedback-content {
  margin-top: 20px;
  margin-left: 20px;
}

.page-container-small .feedback-content button {
  font-size: 14px;
  font-weight: 600;
}

.feedback-content .feedback-title {
  color: #fff;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1.3px;
  font-weight: 600;
  width: 300px;
}

.feedback-content .feedback-body {
  color: #fff;
  width: 400px;
  font-size: 2rem;
  margin-top: 12px;
  margin-bottom: 20px;
}

.page-container-small .feedback-content .feedback-title,
.page-container-small .feedback-content .feedback-body {
  font-size: 14px;
  line-height: 14px;
  width: 335px;
}

.page-container-small .feedback-content .feedback-body {
  margin-top: 10px;
  margin-bottom: 14px;
}
