html {
  font-size: 12px;
  scroll-behavior: smooth;
  overflow-y: auto !important;
}
@font-face {
  font-family: "72";
  src: url(fonts/72-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "72";
  src: url(fonts/72-Light.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "72";
  src: url(fonts/72-Black.ttf) format("truetype");
  font-weight: bold;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "72",Arial,Helvetica,sans-serif;
  background-color: #fff;
}

*:before,
*:after {
  box-sizing: border-box;
}
