.menu-wrapper {
  flex-direction: row;
}

.menu {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list-unstyled {
  margin: 0;
  list-style: none;
}

.menu .menu__item {
  align-items: flex-start;
  font-size: 1.75rem;
  font-weight: normal;
}

.menu .menu__item {
  padding: 0 28px;
}

.menu__link-default,
.dd-header-title-default {
  color: #fff;
}

.menu__link-compact,
.dd-header-title-compact {
  color: #0A6ED1;
}

.menu .menu__item .link1 {
  padding-left: 30px;
  text-decoration: none;
}

.dd-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.dd-header {
  display: flex;
  align-items: flex-start;
   align-content: flex-start;
  cursor: pointer;
  position: relative;
}

.dd-header-arrow {
  margin-left: 12px;
  margin-top: -2px;
}

.dd-list {
  z-index: 10;
  position: absolute;
  margin-top:10px;
  width: 285px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #fff;
  font-weight: 400;
  padding: 18px 0;
  height: auto;
}

.dd-list-item {
  width: 245px;
  font-size: 1.6666666666666667rem;
  padding: 8px 20px;
  line-height: 23px;
  display: inline-block;
  text-overflow: ellipsis;
}

.dd-list-item.active {
  cursor: pointer;
}

.dd-list-item.inactive {
  color: rgba(0, 0, 0, 0.5);
}

.dd-list-item.active.selected {
  color: #0A6ED1;
}

.dd-list-item.active:hover {
  color: #0A6ED1;
}

.dd-wrapper-single {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 265px;
}

.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}

.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}

.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}
