.pr-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pr-section > .pr-header {
  width: 100%;
  display: inline-block;
}

.pr-section > .pr-header > .pr-title {
  font-size: 3rem;
  line-height: 41px;
  color: #000;
}

.pr-section .pr-body {
  margin-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}

.pr-section .pr-body-small {
  flex-direction: column;
  margin-top: 0px;
}

.pr-navigation {
  width: 280px;
  flex: 1;
}

.pr-navigation-sticky {
  position: fixed;
  top: 90px;
  left: calc(25% - 280px);
  z-index: 2000;
}


.pr-results {
  width: 966px;
  margin-left: 20px;
  flex: 1;
}

.pr-results-sticky {
  margin-left: 16%;
}

.pr-body .pr-results-small {
  max-width: 350px;
}

.pr-results .pr-search-container {
  width: 966px;
  display: flex;
}

.pr-results .pr-search-container-small {
  width: 350px;
}

.pr-results .pr-card-container {
  margin-top: 48px;
}

.pr-results .pr-card-container .pr-sort-container {
  display: flex;
  align-content: flex-start;
}

.pr-sort-container .pr-sort-label {
  margin-left: 7px;
  font-size: 1.6666666666666667rem;
  color: #000;
  line-height: 45px;
}

.pr-sort-container .pr-sort-select {
  margin-left: 7px;
}

.pr-sort-select.MuiInputBase-root {
  color: #000;
  font-size: 1.6666666666666667rem;
  font-family: "72",Arial,Helvetica,sans-serif;
}

.MuiPaper-root option {
  color: rgba(0, 0, 0, 0.74);
  font-size: 1.6666666666666667rem;
  font-family: "72",Arial,Helvetica,sans-serif;
  padding: 0px 5px 4px;
}

.pr-sort-select .MuiInputBase-input {
  padding: 0;
}

.pr-sort-select .MuiSvgIcon-root {
  transition: none;
  font-size: 0;
}

.pr-sort-select .MuiSelect-select:focus {
  background-color: #fff;
}

.pr-sort-select.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.pr-sort-select.MuiInput-underline:before {
  content: '';
  transition: none;
  border-bottom: none;
}

.pr-sort-select.MuiInput-underline:after {
  transform: none;
  transition: none;
  border-bottom: none;
}

.pr-results .pr-search-container .pr-search-icon {
    padding: 18px 15px 12px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc transparent #ccc #ccc;
}

.pr-search-icon .MuiSvgIcon-fontSizeLarge {
  font-size: 2.7rem;
  font-weight: 100;
}
.pr-search-icon .MuiSvgIcon-root {
  fill: rgba(0, 0, 0, 0.34);
}

.pr-results .pr-search-container .search-input {
    width: 918px;
    height: 64px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color:  #ccc #ccc #ccc transparent;
    color: rgba(0, 0, 0, 0.34);
    font: 400 1.6666666666666667rem '72';
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.34);
}

.search-input:focus {
  outline-offset: 0px;
  outline: transparent auto 0px;
}

.clearButton.MuiButton-root {
  color: #0A6ED1;
  font-family: "72",Arial,Helvetica,sans-serif;
  font-size: 1.3333333333333333rem;
  font-weight: 500;
  margin-top: 18px;
}

.clearButton.MuiButton-text {
  padding: 6px 3px;
}

.clearButton.MuiButton-root:hover {
  background-color: transparent;
}

.disclaimer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
}

.disclaimer a {
  text-decoration: none;
  color: #0A6ED1;
}

@media (max-width: 767px) {

    .disclaimer {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.pr-section .MuiChip-clickable.MuiChip-outlined {
  height: 35px;
  border: 1px solid #0A6ED1;
  box-sizing: border-box;
  border-radius: 47px;
  font-family: "72";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #0A6ED1;
}

.pr-section .MuiChip-clickable.MuiChip-outlined.pr-selected-filter-chip,
.pr-section .MuiChip-clickable.MuiChip-outlined:hover {
  background-color: #0A6ED1;
  height: 35px;
  border-radius: 75px;
  color: #FFFFFF;
}

.pr-section .roadmap-custom-button {
  height: 43px;
}


.pr-clear-all-selected-filters {
  /* Clear All Filters */
width: 113px;
height: 19px;

font-family: 72;
font-size: 16px;
line-height: 18px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #0A6ED1;

}