.roadmap-process-tab-titles .MuiTab-wrapper {
  font-family: "72";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  /* white-space: nowrap; */
  text-transform: none;
  text-align: left;
  min-width: 200px;
  width: 200px;
  flex-direction: row;
}


.roadmap-process-tab-titles .Mui-selected .MuiTab-wrapper {
  color: #0a6ed1;
}

.roadmap-process-tabs .MuiTabs-indicator {
  background-color: #0a6ed1;
  width: 4px;
  border-radius: 31px;
  height: 44px;
}


.MuiTabs-root.roadmap-process-tabs.roadmap-process-tab-titles.MuiTabs-vertical {
  /*min-width: 347px;*/
}

.roadmap-process-tabs .MuiTabs-flexContainer {
  margin-top: 4.8px;
  /*width: 273px;*/
  /* Established breakpoint window.length - width of container*/
  justify-content: center;
}

.page-container .content-container {
  margin-top: 40px;
}

.page-container .content-container .process-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-template-columns: repeat(2, 1fr); */
  margin-bottom: 50px;
  min-height: 351px;
}

.MuiTab-wrapper .tab-icon.tab-icon-highlights-active {
  background: url(../assets/images/icon-onstate.svg) no-repeat;
  background-position: 0px 0px;
}

.MuiTab-wrapper .tab-icon.tab-icon-happening-active {
  background: url(../assets/images/icon-onstate.svg) no-repeat;
  background-position: 0px 0px;
}
.MuiTab-wrapper .tab-icon.tab-icon-happening-inactive {
  background: none;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected.MuiTab-labelIcon, .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.MuiTab-labelIcon {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .page-container .content-container .process-content {
    flex-direction: column;
  }

  .MuiTabs-flexContainerVertical {
    flex-direction: row !important;
  }

  .roadmap-process-tabs .MuiTabs-flexContainer {
    position: absolute;
    width: none;
    border: 1px solid #0A6ED1;
    box-sizing: border-box;
    border-radius: 15px;
    left: calc((100vw - 430px) /2);
  }

  .MuiTab-wrapper .tab-icon.tab-icon-highlights-active,
  .MuiTab-wrapper .tab-icon.tab-icon-happening-inactive,
  .MuiTab-wrapper .tab-icon.tab-icon-happening-active,
  .MuiTab-wrapper .tab-icon.tab-icon-highlights-inactive {
    display: none;
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected.MuiTab-labelIcon, .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.MuiTab-labelIcon {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
    min-height: 0;
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.MuiTab-labelIcon .MuiTab-wrapper {
    border-right: 1px solid #0A6ED1;
  }

  .roadmap-process-tabs .MuiTabs-indicator {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .MuiTabs-root.roadmap-process-tabs.roadmap-process-tab-titles.MuiTabs-vertical {
    min-height: 100px;
  }

  .MuiTabs-flexContainerVertical {
    /*flex-direction: column !important;*/
  }

  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.MuiTab-labelIcon .MuiTab-wrapper {
    border-right: none;
  }

  .roadmap-process-tabs .MuiTabs-flexContainer button:first-child {
      border-bottom: 1px solid #0A6ED1;
  }

  .roadmap-process-tabs .MuiTabs-flexContainer {
    left: calc((100vw - 240px) /2);
  }
}

.page-container .content-container .process-content .tab-content {
  width: 100%;
}

.MuiTabs-indicator {
  left: 0;
}
.MuiTab-wrapper .tab-icon {
  width: 60px;
  height: 42px;
}
.MuiTab-wrapper .tab-icon img {
  margin-left: 5px;
  margin-top: 6px;
}

.roadmap-process-tabs button {
  /* margin-left: 20px; */
  /* margin-right: 30px; */
  /* Distance between tab indicator to tax process text*/
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}
