.pr-form-container {
  margin-top: 24px;
}

.pr-subform-container {
  margin-top: 0px;
}

.pr-subform-container .pr-form-header {
  margin-bottom: 20px;
  border: none !important;
}

.pr-container-hidden {
  display: none;
}

.pr-form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pr-form-title {
  font-size: 2rem;
  width: 200px;
}

.title-expandable {
  cursor: pointer;
}

.pr-form-header .addButton.MuiIconButton-root,
.pr-form-header .subButton.MuiIconButton-root {
  color: #353b44;
}
.pr-form-header .subButton path:first-child {
  transform: translate(0, -10px);
}
.pr-form-header .subButton.MuiIconButton-root {
  padding: 12px 12px 12px 12px;
  /* margin-top: -5px; */
}

.pr-form-header .addButton.MuiIconButton-root:hover,
.pr-form-header .subButton.MuiIconButton-root:hover {
  background-color: transparent;
}

.pr-form-container .checkInput.MuiFormControlLabel-root {
  margin-left: -8px;
}

.pr-form-container .checkInput.checkInput-hidden.MuiFormControlLabel-root {
  display: none;
}

.pr-form-container .checkInput .PrivateSwitchBase-root-49 {
  padding: 6px;
}

.pr-form-container .checkInput .MuiSvgIcon-root {
  width: 1.4em;
  height: 1.4em;
}

.pr-form-container .checkInput .MuiCheckbox-colorSecondary.Mui-checked {
  color: #0a6ed1;
}

.pr-form-container .checkInput .MuiCheckbox-colorSecondary.Mui-checked:hover,
.pr-form-container .checkInput .MuiIconButton-colorSecondary:hover {
  background-color: transparent;
}

.pr-form-container .checkInput .MuiTypography-body1,
.pr-subform-container .checkInput .MuiTypography-body1 {
  font-size: 1.5rem;
  font-family: "72";
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0.00938em;
  color: #666666;
}

.pr-form-container .checkMarkGroup {
  margin-top: 25px;
}

.pr-subform-container .checkMarkGroup {
  margin-top: -8px;
  margin-left: 30px;
}

@media screen and (max-width: 959px) {
    .pr-form-title.title-expandable, .MuiSvgIcon-fontSizeLarge {
      font-size: 16px !important;
      color: #0A6ED1;
      font-family: 72;
      /*font-size: 16px;*/
      line-height: 18px;
      align-items: center;
    }

    .MuiSvgIcon-fontSizeLarge {
      font-size: 2.7rem !important;
    }

    .pr-results .pr-search-container .pr-search-icon {
      padding: 10px 15px 6px 15px !important;
    }

    .pr-form-title {
      width: 100%;
    }

    .pr-navigation .pr-form-header {
      border: 1px solid #0A6ED1;
      box-sizing: border-box;
      border-radius: 47px;
      padding-left: 20px;
      margin-right: 10px;
    }

    .pr-navigation button.clearButton {
      display: none;
    }

    .pr-navigation {
      /*flex-wrap: wrap;*/
    }

    .pr-navigation .pr-form-container:first-child .pr-form-header {
      min-width: 165px;
    }

    .custombtn {
      margin-left: 25px;
    }
/*
    .pr-navigation::-webkit-scrollbar {
      height: 30px;
      position: absolute;
    }
*/
    .pr-navigation::-webkit-scrollbar * {
      background: transparent;
    }
}

@media screen and (max-width: 767px) {
  .pr-navigation {
    overflow: scroll;
  }
}
