.roadmap-vertical-line {
    border-color: #B1B1B1;
    border-left-style: dashed;
    border-width: 2px;
    margin-left: 39px;
    min-height: 100px;
}

.roadmap-vertical {
    flex-wrap: wrap;
}

.vertical-roadmap-step {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.vertical-roadmap-step svg {
    height: 40px;
    width: 40px;
}


.vertical-roadmap-step svg:hover {
    cursor: pointer;
}

.MuiStep-vertical:last-child .roadmap-vertical-line{
    min-height: 0px;
    height: 0px;

}
.MuiStep-vertical:last-child:after {
  content: url(../assets/images/step-arrow.svg);
  position: relative;
  top: -10px;
  left: 5px;
}
.roadmap-stepper-vertical-label .MuiStepLabel-label {
    font-family: "72";
    font-size: 18px;
    text-align: left;
    color: #000000;
}

.roadmap-stepper-vertical-icon {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.roadmap-vertical-label-margin .MuiStepLabel-labelContainer{
    margin-top: 22px;
}
