.search-content-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 16px;
    width: 100%;
}

.search-content-container-topics {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 130px;
    width: 100%;
}
.search-list-container .pr-sort-container{
  display: flex;
  padding-left: 14px;
}
.page-container-small .search-content-container {
    padding-left: 0px;
}
.page-container-small .search-list-container{
  width: 100%;
  flex-basis: 100%;
  margin-top:30px;
  max-width: 100%;
}
.results {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    /* padding-left: 140px; */
}

.page-container-small .results {
    align-items: center;
}

.util-container {
    margin-top: 40px;
}
.filterlink {
    font-size: 2rem;
    color: #000;
    padding-bottom: 8px;
    margin-right: 40px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.filterselection, .filterlink:hover {
    color: #F0AB00;
    border-bottom: 4px solid #F0AB00;
}

.testcard {
    margin-top: 50px;
    font-size: 40px;
}

.search-results-filter-container {
    display: flex;
    justify-content: left;
}

.search-results-filtering {
    width: 250px;
}
